<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a routerLink="/retelecom">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">Retelecom</span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/redesis">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">Redesis</span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/administracionn">
                        <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">Administracion</span>
                    </a>
                </li>
                <!-- Agrega más enlaces aquí -->
            </ul>
            <ul class="logout">
                <li>
                    <a routerLink="/logout">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<div>
    <router-outlet></router-outlet>
</div>
